@font-face
{
  font-family: 'proxima';
  src: url('../fonts/Proxima.otf') format('opentype');
}
@font-face
{
  font-family: 'proxima-bold';
  src: url('../fonts/ProximaBold.otf') format('opentype');
}
@font-face
{
  font-family: 'proxima-light';
  src: url('../fonts/ProximaLight.otf') format('opentype');
}